@page "/principal"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@layout MainLayout

<h2 class="text-xl font-bold">Bienvenido a DIGESA-IPRESS</h2>
<p class="text-gray-600 mt-2">Selecciona una opción del menú lateral para comenzar.</p>
