@page "/principal"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@layout MainLayout

<h2 class="text-xl font-bold">Bienvenido al Sistema de Gestión de Visitas</h2>
<p>Selecciona una opción del menú lateral para comenzar.</p>
